{% extends "base.html" %}

{% load static %}

{% block title %}A propos{% endblock title %}

{% block content %}
<div class="bg-white p-6">
    <h1 class="text-blue-800 text-4xl font-bold mb-4">Compréhension du Projet :</h1>
    
    <p class="mb-4">En tant que Data Scientist pour le PSBA, notre mission consiste à évaluer la capacité des entreprises à rembourser les prêts garantis par la SBA. Il est impératif d'éviter tout "data leaking" en n'utilisant que les informations disponibles avant la prise de décision.</p>

    <h2 class="text-blue-800 text-2xl font-bold mb-2">Processus du Projet :</h2>
    <p class="mb-4">Partie 1 : Nettoyage, EDA et Modélisation</p>
    <ul class="list-disc ml-6 mb-4">
        <li>Nettoyage des Données : Élimination des valeurs manquantes, gestion des outliers, etc.</li>
        <li>Analyse et Compréhension des Données : Analyse univariée, bivariée, tests statistiques.</li>
        <li>Préparation des Données pour le Modèle : Pré-traitement, sélection des features, feature engineering.</li>
        <li>Modélisation : Utilisation du modèle de classification CatBoost avec explication du fonctionnement.</li>
    </ul>

    <p class="mb-4">Partie 2 : Mise en Production</p>
    <ul class="list-disc ml-6 mb-4">
        <li>Utilisation de FastAPI : Rendre le modèle accessible via une API.</li>
        <li>Développement d'une Interface avec Django : Création d'une application web pour consommer l'API.</li>
        <li>Composition de l'Application Web : API (FastAPI) pour servir le modèle & interface utilisateur (Django) pour consommer l'API.</li>
    </ul>

    <h2 class="text-blue-800 text-2xl font-bold mb-2">Cadre Technique :</h2>
    <p class="mb-4">Veuillez consulter les ressources pour plus d'informations sur le cadre technique.</p>

    <p class="mb-4">Nous sommes ravis de contribuer à soutenir les petites entreprises et à renforcer l'impact positif sur l'économie. Explorez notre site pour en savoir plus sur notre approche et nos résultats.</p>

    <p>N'hésitez pas à nous contacter pour toute question ou suggestion.</p>
</div>
{% endblock content %}
