{% extends "base.html" %}

{% block content %}
    <ul class="space-y-4 mb-5 mt-5"> 
        <li class="list_form">Nom de l'entreprise:  {{ company.name }}</li>
        <li class="list_form">Ville du siège:       {{ company.city }}</li>
        <li class="list_form">Etat du siège:        {{ company.get_state_display }}</li>
        <li class="list_form">Code postal du siège: {{ company.zip }}</li>
        <li class="list_form">Code du secteur d'activité: {{ company.naics }}</li>
        <li class="list_form">Nombre d'employés:    {{ company.num_employees }}</li>
        <li class="list_form">Franchise code:       {{ company.franchise_code }}</li>
        <li class="list_form">Type d'environnement: {{ company.get_urban_rural_display }}</li>
    </ul><br>

    <h3 class="text-2xl font-bold mt-4 mb-2">Requests</h3>
    <div class="overflow-x-auto">
        <table class="w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-400 text-white">
                    <th class="py-2 px-4">Date</th>
                    <th class="py-2 px-4">Banque</th>
                    <th class="py-2 px-4">État de la banque</th>
                    <th class="py-2 px-4">Durée du prêt</th>
                    <th class="py-2 px-4">Crédit renouvelable</th>
                    <th class="py-2 px-4">Demande faite en 1 page</th>
                    <th class="py-2 px-4">Montant accordé par SBA</th>
                    <th class="py-2 px-4">Montant accordé par Banque</th>
                    <th class="py-2 px-4">Lié à l'immobilier</th>
                    <th class="py-2 px-4">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr class="{% cycle 'bg-white' 'bg-gray-200'  %}">
                        <td class="py-2 px-4">{{ request.formatted_date }}</td>
                        <td class="py-2 px-4">{{ request.bank }}</td>
                        <td class="py-2 px-4">{{ request.get_bank_state_display }}</td>
                        <td class="py-2 px-4">{{ request.term }}</td>
                        <td class="py-2 px-4">{{ request.get_rev_line_cr_display }}</td>
                        <td class="py-2 px-4">{{ request.get_low_doc_display }}</td>
                        <td class="py-2 px-4">{{ request.sba_appv }}</td>
                        <td class="py-2 px-4">{{ request.gr_appv }}</td>
                        <td class="py-2 px-4">{{ request.get_real_estate_display }}</td>
                        <td class="py-2 px-4">{{ request.get_status_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
