{% extends "base.html" %}


{% block content %}
    <h2>Entreprises:</h2><br>
    <ul> 
        {% for company in object_list %}
            <li>
                <a href="{% url 'main:company' pk=company.id %}">
                    {{company.name}} - {{company.get_state_display}} 
                {% comment %} <a href="/funct/{{funct.id}}"> {% endcomment %}
                {% comment %} <a"href="{% url "company-detail" pk=company.id %}"> {% endcomment %}
                    {% comment %} {{ company.name }} {% endcomment %}
                </a>
            </li>
        {% endfor %}
    </ul><br>
{% endblock %}