{% extends "base.html" %}

{% load static %}

{% block title %}Page d'accueil{% endblock title %}

{% block content %}

<div class="bg-white p-6">
    <h1 class="text-blue-800 text-4xl font-bold mb-4">Bienvenue sur le site de prévisions des prêts validé par Project Small Business Administration (PSBA)!</h1>

    <p class="mb-4">À propos de la SBA :</p>
    <p class="mb-4">Fondée en 1953 aux États-Unis, la SBA a pour mission d'aider les petites entreprises à accéder au crédit, favorisant ainsi la création 
        d'emplois et la croissance économique. Les petites entreprises sont une force motrice essentielle aux États-Unis, et en 
        les soutenant, nous contribuons à réduire le chômage et à créer des opportunités.</p>

    <p class="mb-4">Objectif du Projet :</p>
    <p class="mb-8">Notre objectif principal est de prédire avec précision si les entreprises seront en mesure de rembourser leurs 
        prêts ou non. Cette tâche cruciale de classification binaire, où nous devons décider d'accorder ou non un prêt, repose sur une 
        analyse approfondie des données.</p>
</div>

{% endblock content %}
