{% extends "base.html" %}

{% load static %}

{% block title %}Page d'accueil{% endblock title %}


{% block content %}

<p>Bienvenue sur le site de prévisions des prêts validé par Project Small Business Administration (PSBA)!</p>

<p>À propos de la SBA :</p>
<p>Fondée en 1953 aux Etats Unis, la SBA a pour mission d'aider les petites entreprises à accéder au crédit, favorisant ainsi la création 
    d'emplois et la croissance économique. Les petites entreprises sont une force motrice essentielle aux États-Unis, et en 
    les soutenant, nous contribuons à réduire le chômage et à créer des opportunités.</p>

<p>Objectif du Projet :</p>
<P>Notre objectif principal est de prédire avec précision si les entreprises seront en mesure de rembourser leurs 
    prêts ou non. Cette tâche cruciale de classification binaire, où nous devons décider d'accorder ou non un prêt, repose sur une 
    analyse approfondie des données.</p>

{% endblock content %}