pandas
scikit-learn
matplotlib
seaborn
sweetviz
xgboost
catboost
feature-engine
imbalanced-learn

django<5
django-dotenv<2
django-livereload-server<1
django-widget-tweaks<2
requests<3

scikit-learn<2
fastapi<1
uvicorn<1