{% extends "base.html" %}

{% load static %}

{% block title %}Se connecter{% endblock title %}

{% block content %}

<div>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <ul class="space-y-4 mb-5 mt-5">
            <li class="list_form">
                <div>Nom d'utilisateur : </div>
                <div class="formulaire_input">{{ form.username }}</div>
            </li>            
            <li class="list_form">
                <div>Mot de passe : </div>
                <div class="formulaire_input">{{ form.password }}</div>
            </li>
        </ul>
        <button class="button_form" type="submit">Se connecter</button>
    </form>
</div>

{% endblock content %} 
