{% extends "base.html" %}

{% load static %}

{% block title %}Créer un compte{% endblock title %}

{% block content %}
    <form method="post" action="{% url "main:signup" %}">
        {% csrf_token %}
        <ul class="space-y-4 mb-5 mt-5">
            <li class="list_form">
                <div>Nom d'utilisateur : </div>
                <div class="formulaire_input">{{ form.username }}</div>
            </li>              
            <li class="list_form">
                <div>Email : </div>
                <div class="formulaire_input">{{ form.email }}</div>
            </li>              
            <li class="list_form">
                <div>Mot de passe : </div>
                <div class="formulaire_input">{{ form.password1 }}</div>
            </li>
            <li>Votre mot de passe doit contenir au moins 8 caractères (il ne peut pas être entièrement numérique).</li>              
            <li class="list_form">
                <div>Confirmer le mot de passe : </div>
                <div class="formulaire_input">{{ form.password2 }}</div>
            </li>  
        </ul>
        <button class="button_form" type="submit">Créer un compte</button>
    </form>

{% endblock %}