{% extends "base.html" %}

{% load static %}

{% block title %}Créer un compte{% endblock title %}

{% block content %}
    <div class="max-w-md mx-auto my-10">
        <h2 class="text-2xl font-bold mb-4">Enregistrement</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-4">
                <label for="id_email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
                {{ form.email }}
            </div>

            <div class="mb-4">
                <label for="id_name" class="block text-gray-700 text-sm font-bold mb-2">Nom:</label>
                {{ form.name }}
            </div>

            <div class="mb-4">
                <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2">Mot de passe:</label>
                {{ form.password }}
            </div>

            <div class="mb-6">
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">S'inscrire</button>
            </div>

        </form>
    </div>
{% block content %}

<form method="post" action="{% url "signup" %}">
    {% csrf_token %}
    {{form}}
    <button type="submit">Créer un compte</button>
</form>

