{% load static %}

{% url "main:home" as home_url %}
{% url "main:loan_request" as request_url %}
{% url "main:loan_history" as history_url %}
{% url "main:companies" as companies_url %}
{% url "main:about" as about_url %}

<footer class="flex-shrink-0">

    <div class="bg-gray-200 p-4 mt-10">
        <nav class="flex justify-between items-center">
            <div class="flex space-x-4">
                {% if user.is_authenticated %}
                    <a href="{{ request_url }}" class="link_footer">Requête</a>
                    <a href="{{ history_url }}" class="link_footer">Historique</a>
                    <a href="{{ companies_url }}" class="link_footer">Company</a>
                {% endif %}
                    <a href="{{ about_url }}" class="link_footer">À propos</a>
            </div>
            <div>
                <p class="text-base">Quentin Lavallée & Cyril Julliard</p>
            </div>
        </nav>
    </div>
    
</footer>
