{% load static %}

{% url "main:home" as home_url %}
{% url "main:loan_request" as request_url %}
{% url "main:history" as history_url %}
{% url "main:companies" as companies_url %}
{% url "main:about" as about_url %}

<header>

    <div>
        <a href="{{ home_url }}"><img src="{% static "images/logo.png" %}" alt="Logo"></a>
    </div>
    <nav>
        <div>
            {% if user.is_authenticated %}
                    <a href="{{ request_url }}">Faire une demande de prêt</a>
                    <a href="{{ history_url }}">Historique des demandes</a>
                    <a href="{{ companies_url }}">Liste des enterprises</a>
            {% endif %}
                    <a href="{{ about_url }}">A propos</a>
            {% endif %}
        </div>
        <div>
            {% if user.is_authenticated %}
                <a href="">Se déconnecter</a>
            {% else %}
                <a href="{% url "login" %}">Créer un compte</a>
                <a href="">Se connecter</a>
            {% endif %}
        </div>
    </nav>

</header>