{% load static %}

{% url "main:home" as home_url %}
{% url "main:loan_request" as request_url %}
{% url "main:loan_history" as history_url %}
{% url "main:companies" as companies_url %}
{% url "main:about" as about_url %}
{% url "login" as login_url %}
{% url "logout" as logout_url %}

<header class="bg-red-300">

    <div>
        <a href="{{ home_url }}"><img src="{% static "images/logo.png" %}" alt="Logo"></a>
    </div>
    <nav>
        <div>
            {% if user.is_authenticated %}
                <a href="{{ request_url }}">Faire une demande de prêt</a>
                <a href="{{ history_url }}">Historique des demandes</a>
                <a href="{{ companies_url }}">Liste des enterprises</a>
            {% endif %}
                <a href="{{ about_url }}">A propos</a>
        </div>
        <div>
            {% if user.is_authenticated %}
                <a href="{{logout_url}}">Se déconnecter</a>
            {% else %}
                <a href="">Créer un compte</a>
                <a href="{{login_url}}">Se connecter</a>
            {% endif %}
        </div>
    </nav>

</header>