{% load static %}

<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                  colors: {
                    blue: '#002e6d',
                    red: '#cc0000',
                    gray: {
                        200:'c1c1c1',
                        400:'#969696',
                        800:'#686868'
                    }
                    white: '#ffffff',
                  },
                  fontFamily: {
                    sans: ['Source Sans Pro', 'sans-serif'],
                  },
                },
              },
        }
    </script>
    <!-- <link rel="stylesheet" href="{% static "css/output.css" %}"> -->
    {% block css %}{% endblock css %}
    {% block script %}{% endblock script %}
</head>

<body class="font-sans bg-white text-black">

    {% include "includes/header.html" %}

    <main class="container mx-auto px-4">

        {% if messages %}
            <div class="px-4 py-2 mb-4 rounded-md border border-blue">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock content %}

    </main>

    {% include "includes/footer.html" %}
    
</body>

</html>